
    $background-color-hover:rgba(228, 228, 228, 0.192);
    $border-radius-hover:10%;
    // $regular:Muli-Regular;
    // $bold:Muli-Bold;
    // $light:Muli-Light;
    $p-color:#7D7987;
    /* --muli:'Mulish', sans-serif; */
    $h:2000px